body {
  font-size: 16px;
  line-height: 1.6;
  max-width: 300px;
}

.button {
  background: lightblue;
  color: #fff;
  border: 0;
  width: 100px;
  height: 30px;
  font-size: 45px;
  border-radius: 5px;
  font-weight: 900;
  position: relative;
  font-family: serif;
  font-size: 1em;
  transition: .6s;
}

.button:hover {
  background: lightcoral;
  cursor: pointer;
  transition: .3s;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.modal-content {
  background-color: #f4f4f4;
  margin: 2em 10em 0em 2em;
  max-width: 400px;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
  animation-name: modalopen;
  animation-duration: 1s;
}

@keyframes modalopen {
  from {opacity: 0}
  to {opacity: 1}
}

.modal-header {
  padding: 3px 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.modalClose {
  font-size: 2rem;
}

.modalClose:hover {
  cursor: pointer;
}

.modal-body {
  padding: 10px 20px ;
  color: black;
}
